<!DOCTYPE html>

<html
        id="html"
        lang="es"
        translate="no"
>
<head>

    <meta content="text/html" charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <meta name="author" content="Javier Vergara">
    <meta name="description" content="---pendiente---" />
    <meta name="keywords"
          content="diseño, diseñador, javier, vergara, página, personal, design, designer, web, page, own" />


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="sumary_large_image">
    <meta name="twitter:site" content="<%= page_name %>">
    <meta name="twitter:url" content="<?php echo DOMINIO.$__PATH_IN__ ?>">
    <meta name="twitter:title" content="<%= idioma_page_title %>">
    <meta name="twitter:description" content="---pendiente---">
    <meta name="twitter:image" content="---pendiente---">

    <meta property="og:title" content="<%= idioma_page_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image"
          content="<%=raiz %>/src/img/png/og_images/<%=idioma %>_img1.png" />
    <meta property="og:url" content="---pendiente---" />
    <meta property="og:description" content="--pendiente--" />
    <meta property="og:site_name" content="<%= page_name %>" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="3800px">
    <meta property="og:image:height" content="2000px">

    <title>Home</title>

    <!--link rel="stylesheet" th:href="@{https://use.typekit.net/yym2vzw.css}"-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--  Todo: colocar aqui el enlace a lo construido css  -->

    <!--link rel="stylesheet" th:href="@{https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css}"-->

    <!-- TODO: Este es el espacio para la importacion del style - link -->

</head>

<body id="body">
<div id="app"></div>

<script type="importmap">
		{
			"imports": {
				"engine": "/js/engine.js"
			}
		}
</script>

<!-- TODO: Mas adelante habilitar este link en caso de que empiece a fallar-->
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<!--script src="/js/libs/http_unpkg.com_material-components-web@latest_dist_material-components-web.js"></script-->
<script src="/libs/jquery-3.6.1.min.js"></script>


<!--  Todo: colocar aqui el enlace a lo construido js  -->
<script type="module" src="/src/main.js"></script>

<!-- TODO: espacio para poner el recurso del script, hay que comentar el de arriba y comentar el de abajo y reemplazarlo -->
<!--script-- type="module" crossorigin src="/assets/index.ac33475c.js"></script-->

<!-- script type="importmap">
{
"imports": {
"engine": "<%=raiz %>/src/js/engine.js",
"jquery": "<%=raiz %>/mods/jquery/dist/jquery.js",
"vue": "<%=raiz %>/mods/vue/dist/vue.esm-browser.js",
"MCU": "<%=raiz %>/mods/@material/material-color-utilities/dist/index.js",
"lottie": "<%=raiz %>/mods/lottie-web/build/player/lottie.js",
"vue-lottie": "<%=raiz %>/mods/vue-lottie/dist/build.js"
}
}
</script -->


</body>
</html>