@charset "UTF-8";
/* --- --- --- --- Mis estilos - INICIO --- --- --- ---*/
:root {
  --color-background-background: #000;
  --color-primary: #222;
  --color-gray: #707070;
  --color-lightgray: #d9d9d9;
  --color-background-oscuro: #0008;
  --color-background-barras: #fff;
  --color-background-perfil: #fff;
  --color-enphasis: #007997;
  --desktop-maxwidth: 1150px;
  --md-sys-color-elevation-shadow: rgba(0, 0, 0, 0.2);
  --sombra-1: rgba(0, 0, 0, 0.2);
  --sombra-2: rgba(0, 0, 0, 0.12);
  --sombra-3: rgba(0, 0, 0, 0.14);
  --md-sys-elevation-1px: 0 1px 3px var(--sombra-1), ;
  --md-sys-elevation-2px: 0 1px 5px var(--sombra-1), 0 3px 1px var(--sombra-2), 0 2px 2px var(--sombra-3);
  --md-sys-elevation-3px: 0 1px 8px var(--sombra-1), 0 3px 3px var(--sombra-2), 0 3px 4px var(--sombra-3);
  --md-sys-elevation-4px: 0 2px 4px var(--sombra-1), 0 1px 10px var(--sombra-2), 0 4px 5px var(--sombra-3);
  --md-sys-elevation-6px: 0 3px 5px var(--sombra-1), 0 1px 18px var(--sombra-2), 0 6px 10px var(--sombra-3);
  --md-sys-elevation-8px: 0 5px 5px var(--sombra-1), 0 3px 14px var(--sombra-2), 0 8px 10px var(--sombra-3);
  --md-sys-elevation-9px: 0 5px 5px var(--sombra-1), 0 3px 14px var(--sombra-2), 0 8px 10px var(--sombra-3);
  --md-sys-elevation-12px: 0 7px 8px var(--sombra-1), 0 5px 22px var(--sombra-2), 0 12px 18px var(--sombra-3);
  --md-sys-elevation-16px: 0 8px 10px var(--sombra-1), 0 6px 30px var(--sombra-2), 0 16px 24px var(--sombra-3);
  --md-sys-elevation-24px: 0 11px 15px var(--sombra-1), 0 9px 46px var(--sombra-2), 0 24px 38px var(--sombra-3);
  --ancho-barras: 60px;
  --v-theme-on-surface: white !important;
}

.v-theme--light, .v-theme--dark {
  --v-theme-on-surface: white !important;
}

html {
  -webkit-overflow-scrolling: auto;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%;
  /*overflow-y: scroll;*/
  touch-action: manipulation;
  font-family: "louis george cafe", sans-serif;
  display: block;
}

html body {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none !important;
}

*, :after, :before, button, button:focus, input, textarea {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: text;
}

body, ul, li, ol, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  direction: ltr;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a.a--normal {
  color: var(--md-sys-color-secondary);
  text-decoration: underline;
}

a.a--normal:hover {
  color: var(--md-sys-color-tertiary);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-background);
  display: block;
}

body div[id=contenedor_principal] ~ div {
  display: none;
}

/* --- --- --- --- Mis estilos - FIN --- --- --- ---*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*

                  ____██▒▒▒██
             ________█▒▒▒▒▒▒██
            ________█▒▒▒▒▒▒▒██
           ________██▒▒▒▓▓▓▒▒██    █
           ________█▒▒▒▓▓▓▓▒▒▒█     █
          ________██▒▒▓▓▓▓▓▒▒█     █
          ________█▒▒▒▓▓▓▓▓▓▒█     █
          ________█▒▒▒▓▓▓▓▓▓▒█___████ █ █ █
           ________██▒▒▓▓▓▓▓▓▒█__█████   █
            ________█▒▒▒▓▓▓▓▒▒██████
            ________██▒▒▒▓▓▒▒█████████████████
          ________████▒▒▒▒▒▒██████▒▒▒▒▒▒▒▒▒▒▒▒███
         ________██▒▒██▒▒▒▒██████▒▒▒▓▓▓▓▓▓▒▒▒▒▒██
        ________██▒▒▒▒██▒▒██████▒▒▒▓▓▓▓▓▓▓▓▒▒▒▒██
        ________█▒▒▒▒▒▒███████▒▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒█
        ________█▒▒▒▒▒▒▒█████▒▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒█
        ________██▒▒▒▒▒█████▒▒▒▒▓▓▓▓▓▓▓▓▓▒▒▒█
         ________██▒▒▒▒▒███▒██▒▒▒▒▓▓▓▓▓▒▒▒▒█
          ________███████▒▒▒▒▒██▒▒▒▒▒▒▒▒███
                ________█▒▒▒▒▒▒▒▒████████      ██████████ ██████████ ██████████ ██      ██ ██████████ █████████  █████████  ██████████
                ________██▒▒▒▒▒▒▒▒▒██         ▓▓▓▓▓██    ▓██▓▓▓▓▓▓██▓██▓▓▓▓▓▓▓ ▓▓██    ██ ▓██▓▓▓▓▓▓▓ ▓██▓▓▓▓▓▓██▓██▓▓▓▓▓▓██▓██▓▓▓▓▓▓██
                 ________██▒▒▒▒▒▒▒██         ▒▒▒▒▒▓██   ▒▓██████████▓██████████▒▓▓██  ██ ▒▓██████████▓█████████▒▓█████████▒▓██████████
                  ________██▒▒▒▒██               ▒▓██   ▒▓██▓▓▓▓▓▓██▓██▓▓▓▓▓▓▓  ▒▓▓████  ▒▓██▓▓▓▓▓▓▓▒▓██▓▓▓▓██ ▒▓██▓▓▓▓▓▓██▓██▓▓▓▓▓▓██
                   ________█████               ██████   ▒▓██▒▒▒▒▒▓██▓██████████  ▒▓▓██   ▒▓██████████▓██▒▒▒▓▓ ██▓█████████▒▓██▒▒▒▒▒▓██
                   ____                       ▓▓▓▓▓▓    ▒▓▓     ▒▓▓▒▓▓▓▓▓▓▓▓▓▓    ▒▓▓    ▒▓▓▓▓▓▓▓▓▓▓▒▓▓   ▒▒ ▓▓▒▓▓▓▓▓▓▓▓▓ ▒▓▓     ▒▓▓
                                             ▒▒▒▒▒▒     ▒▒      ▒▒ ▒▒▒▒▒▒▒▒▒▒     ▒▒     ▒▒▒▒▒▒▒▒▒▒ ▒▒      ▒▒ ▒▒▒▒▒▒▒▒▒  ▒▒      ▒▒
*/

/*# sourceMappingURL=base.css.map */
