@use "@material/elevation/mdc-elevation";

@use 'vuetify' with (
  $utilities: false,
  $color-pack: false,
);

@import "@/assets/base.scss";

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}*/

@font-face {
  font-family: nimbus-sans;
  src: url("/statics/fonts/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: nimbus-sans;
  font-weight: bold;
  src: url("/statics/fonts/NimbusSanL-Bol.otf");
}
@font-face {
  font-family: cubano;
  src: url("/statics/fonts/Cubano.ttf");
}

/* ____________________ FUENTES - INICIO ____________________ */
h1, h2, h3, h4, h5, h6, label {
  font-family: nimbus-sans, sans-serif;
  font-weight: bold;
}
p {
  font-family: nimbus-sans, sans-serif;
}
.gordo {
  font-family: cubano, sans-serif;
}
/* ____________________ FUENTES - FIN ____________________ */





#contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cuerpo_contenedor {
  width: 100%;
  max-width: 1150px;
  flex-grow: 1;
  align-self: center;

  > * {
    width: 100%;
    height: 100%;
  }
}




.oscuro {
  background-color: var(--color-background-oscuro);
}





